.pageHeader {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-style: bold;
}

.list {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    padding: 1em;
    margin: 1em;
    flex-grow: 2px blue
    
    
}



.shop {
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted rgb(233, 156, 13);
    justify-content: space-around;
    padding: 1em;
    flex-basis: 15%;
    margin: 0.5em;
    
}